.root {
  -fx-not-achieved: red;
  -fx-achieved:     green;
  -fx-exceeded:      blue;
}

.default-color0.chart-bar { -fx-bar-fill: -fx-not-achieved; }
.default-color1.chart-bar { -fx-bar-fill: -fx-achieved; }
.default-color2.chart-bar { -fx-bar-fill: -fx-exceeded; }

.level-legend {
  -fx-padding: 10;
  -fx-border-width: 2;
  -fx-background-color: rgba(211, 211, 211, 0.5);
  -fx-border-color: derive(rgba(211, 211, 211, 0.7), 10%);
}